@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");

body {
  margin: 0;
  padding: 0;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica, serif;
}
fieldset,
.legend {
  border-radius: 5px;
  box-shadow: 0 0 5px 5px #d2d2d2;
  background-color: #f8f8f8;
}
.legend {
  border: 1px solid black;
  padding: 15px 0 15px 15px;
  width: 30%;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  right: 13px;
  bottom: 33px;
}
form {
  display: flex;
  flex-wrap: wrap;
}
form p,
form input {
  margin: 13px 0;
}
form p {
  display: flex;
  flex-basis: 12%;
  margin-left: 20px;
  align-items: center;
  font-weight: 800;
}
form input {
  display: flex;
  flex-basis: 75%;
  padding: 13px;
  border: 1px solid #dedede;
  border-radius: 5px;
}
form button {
  border-radius: 5px;
  outline: none;
  color: white;
  background-color: #2d2d2d;
  padding: 8px 17px;
  margin: 20px;
  font-size: 16px;
  font-weight: 600;
  border: none;
}
form i {
  position: relative;
  top: 25px;
  left: 30px;
}
@media screen and (max-width: 370px) {
  fieldset {
    width: 80%;
  }
  form p,
  form input {
    margin: 0;
  }
  form input {
    margin-bottom: 15px;
    flex-basis: 90%;
  }
  form i {
    top: 35px;
    left: -75px;
  }
  form button {
    margin-left: 0;
  }
}
@media screen and (min-width: 371px) and (max-width: 991px) {
  fieldset {
    width: 80%;
  }
  form p {
    display: flex;
    flex-basis: 100%;
    margin-left: 16px;
    margin-bottom: 0;
  }
  form input {
    margin-top: 0;
    flex-basis: 85%;
  }
  form i {
    position: relative;
    top: 14px;
  }
}
