@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");

body {
  margin: 0;
  padding: 0;
}
ul {
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-52%, -80%);
  padding: 0;
}
li {
  position: relative;
  display: inline-block;
  padding: 1rem;
  border-radius: 50%;
  background: rgb(238, 238, 238);
  list-style: none;
  margin-right: 30px;
}
a {
  text-decoration: none;
  border-radius: 50%;
}
i {
  font-size: 50px;
  color: black;
}
li:nth-child(1) :hover {
  color: rgb(66, 103, 178);
}

li:nth-child(2) :hover {
  color: rgb(29, 161, 242);
}

li:nth-child(3) :hover {
  color: rgb(220, 63, 30);
}

li:nth-child(4) :hover {
  color: rgb(0, 119, 181);
}

li:nth-child(5) :hover {
  color: rgb(26, 127, 192);
}
