body{
    background-color: #EEEEEE;
}
ul{
    margin:0 auto;
    width:65%;
}
ul li {
    display: inline-block;
    border:2px solid black;
    border-width: 0.4 rem;
    margin:10px;
    height: 100%;
    vertical-align: middle;
}
ul li img {
    padding: 10px;
   
   
}
.picture-6{
    width: 300px;
    height:450px;
}