body {
  margin: 0 auto;
  width: 90%;
  font-family: Helvetica, serif;
  background-color: #ebebeb;
}
label {
  text-transform: uppercase;
  padding: 20px 0 0 40px;
  font-weight: bold;
  font-size: 35px;
}
header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom: 2px solid black;
}
nav ul {
  display: flex;
  background-color: white;
  border-radius: 8px;
  padding-left: 0;
}
nav ul li {
  list-style: none;
  padding: 10px;
}
nav ul li a {
  text-decoration: none;
  background-color: #2d2d2d;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 8px;
}
@media screen and (max-width: 600px) {
  header {
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
  }
  label {
    padding: 0;
    margin: 50px auto 0 auto;
  }
  label::after {
    content: "X Menu";
    font-size: 16px;
    text-transform: capitalize;
    display: flex;
    width: 60px;
    margin: 30px auto 15px auto;
  }
  nav {
    flex-basis: 100%;
  }
  nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 0;
    margin: 0;
    border-top: 2px solid black;
  }
  nav ul li {
    flex-basis: 100%;
    padding: 5px 13px 5px 5px;
  }
  nav ul li a {
    width: 100%;
    display: flex;
    padding: 10px 0 10px 8px;
    background-color: #2d2d2d;
  }
}
@media screen and (min-width: 601px) and (max-width: 991px) {
  header {
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
  }
  label {
    padding: 0;
    width: 100%;
    padding-left: 30px;
    margin: 50px auto 0 auto;
  }
  label::after {
    content: "X Menu";
    font-size: 16px;
    text-transform: capitalize;
    display: flex;
    width: 60px;
    margin: 30px auto 15px auto;
  }
  nav {
    flex-basis: 100%;
  }
  nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 0;
    margin: 0;
    border-top: 2px solid black;
  }
  nav ul li {
    flex-basis: 100%;
    padding: 5px 13px 5px 5px;
  }
  nav ul li a {
    width: 100%;
    display: flex;
    padding: 10px 0 10px 8px;
    background-color: #2d2d2d;
  }
}
