body {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
  font-family: Helvetica, serif;
}
table,
th,
td {
  border: 2px solid #d8d8d8;
}
table {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  border-collapse: collapse;
}
th,
td {
  padding-left: 7px;
  font-weight: 600;
}
thead {
  background-color: black;
}
th {
  color: white;
  text-align: left;
}
tr {
  height: 40px;
}
body > table > tbody > tr:nth-child(1) {
  background-color: #f1f1f1;
}
body > table > tbody > tr:nth-child(2) {
  background-color: white;
}
@media (max-width: 600px) {
  table th {
    display: none;
  }

  table tbody td {
    display: flex;
    height: 32px;
    align-items: center;
  }

  table tbody td:before {
    display: block;
    margin-right: 1em;
  }
  table tbody td.last-data:before {
    margin-right: 2em;
  }

  table tbody td:first-child:before {
    content: "First Name";
  }

  table tbody td:nth-child(2):before {
    content: "Last Name";
  }

  table tbody td:last-child:before {
    content: "Job Title";
  }
}
